@model IEnumerable<BarberShop.Models.Personel>
<div class="alert-danger">@TempData["msj"]</div>

@if (Model.Count() < 1)
{
    <div style="text-align:center" class="alert-info">Herhangi Bir Personel Yok</div>
}{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonelID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonelAd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonelSoyad)
            </th>
            <th>Hizmetler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var personel in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => personel.PersonelID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => personel.PersonelAd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => personel.PersonelSoyad)
                </td>
                
            </tr>
        }
    </tbody>
</table>
}